$input-height: 34px;

datetimepicker, datepicker {

    .datepicker-wrapper {

        &, .input-group {
            border-radius: 4px;
        }

        input.form-control {
            border-radius: 4px;
            height: $input-height;
        }
    
        .input-group .input-group-append .btn {
            padding: 0;
            width: $input-height;
            height: $input-height;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &.focused {

        .datepicker-wrapper {

            .input-group {
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
            }
    
            input:focus {
                box-shadow: none;
            }
        }
    }

}

$datepicker-width: 270px;
$datepicker-bg-color: #fff;
$datepicker-td-active-bg-color: #111;
$datepicker-td-active-color: #fff;
$datepicker-td-hover-bg-color: whitesmoke;

.bootstrap-datetimepicker-widget.dropdown-menu {
    width: $datepicker-width !important;
    background-color: $datepicker-bg-color;
    margin: 6px 0 0 !important;
    padding: 8px !important;
    border: none;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    left: unset !important;
    right: 0 !important;

    &:before, &:after {
        display: none;
    }

    .list-unstyled {

        .picker-switch {

            table tr td {

                a {
                    display: block;
                    width: 100%;
                    padding: 8px 16px;
                    transition: all 0.3s ease-in-out;
                    border-radius: 4px;

                    &:hover {
                        background-color: $datepicker-td-hover-bg-color;
                    }

                    span {
                        background: none;
                        margin: 0;
                        height: unset;
                        line-height: unset;
                        color: $datepicker-td-active-bg-color;
                    }
                }
            }
        }

        .picker-switch {
            margin: 0 0 8px;
        }

        .collapse.show + .picker-switch {
            margin: 8px 0 0;
        }

    }

    table {

        thead {

        }

        tbody {

            tr {
                background: none;

                td {

                }
            }
        }
    }

    .datepicker-days,
    .datepicker-months,
    .datepicker-years,
    .datepicker-decades {

        table {

            thead {

                // Mês ~ ano
                tr:first-child {

                    th {
                        padding: 0;
                        border: none;
                        transition: all .3s ease-in-out;

                        &.picker-switch {
                            padding: 8px 16px;
                            background: none;
                            color: #111;
                            font-weight: 600;
                        }

                        &.prev, &.next {
                            background: none;
                            color: #111;
                            width: 36px;

                            &.disabled {
                                opacity: 0.3;
                            }
                        }

                        &:not(.disabled):hover {
                            background-color: $datepicker-td-hover-bg-color;
                        }
                    }
                }

                // Dias da semana
                tr:last-child {
                    border-bottom: 1px solid #eee;

                    th {
                        padding: 0;
                        height: 36px;
                        border-radius: 0;
                        background: none;
                        color: #00000061;
                        font-weight: 500;
                        border: none;
                        border-bottom: 1px solid #eee;
                    }
                }
            }

            tbody {

                &:before {
                    content: "@";
                    display: block;
                    line-height: 8px;
                    text-indent: -99999px;
                }

                .active {
                    background-color: $datepicker-td-active-bg-color;
                    color: $datepicker-td-active-color;
                    font-weight: 600;

                    &:before {
                        display: none;
                    }
                }

                td.today:before {
                    border-bottom-color: #999;
                }

                .disabled {
                    color: #dcdcdc;
                }

                [data-action]:not(.active):not(.disabled):hover {
                    background-color: $datepicker-td-hover-bg-color;
                }
            }
        }
    }

    .datepicker-days table tbody {

        tr {

            td {
                padding: 0;
                border-radius: 4px;
                transition: all 0.1s ease-in-out;
                min-width: 14.28%; // 100/7
                width: 14.28%;
                height: 37px;
            }
        }
    }

    .datepicker-months,
    .datepicker-years,
    .datepicker-decades {

        table thead {

            tr, tr th {
                border: none !important;
            }
        }

        table tbody {

            td span {
                display: inline-flex;
                width: 25%;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;

            }
        }
    }

    .timepicker {

        .timepicker-picker {
            
            table tr {

                td {
                    width: 33.33%;
                    height: unset;
                    line-height: unset;
                    height: 35px;
        
                    &:nth-child(2) {
                        display: none;
                    }
        
                    a {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    span {
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        margin: 0;
                        line-height: unset;
                    }
        
                    a, span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 4px;
                        transition: all 0.3s ease-in-out;
        
                        &:hover {
                            background-color: $datepicker-td-hover-bg-color;
                        }
                    }
                }

                &:nth-child(2) td {
                    height: 60px;
                }
            }
        }

        .timepicker-hours,
        .timepicker-minutes {

            table tr td {
                width: 25%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: $datepicker-td-hover-bg-color;
                }
            }
        }

        .timepicker-picker,
        .timepicker-hours,
        .timepicker-minutes {

            &:before {
                display: block;
                font-family: 'Font Awesome 5 Free';
                font-weight: 400;
                content: "\f017";
                opacity: 0.6;
                text-align: center;
                padding: 12px 0;
            }
        }
    }

    &.timepicker-sbs {
        
        > .row {
            margin: 0;
            flex-direction: column;

            > div {
                padding: 0;
                flex: unset;
                max-width: unset;
            }
            
            .timepicker {
                border-top: 1px solid #eee;
                padding-top: 8px;
                margin-top: 8px;
            }
        }
    }
}

datepicker .bootstrap-datetimepicker-widget {

    .list-unstyled > .picker-switch {
        display: none;
    }
}